
WorkTimer/WorkTimer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
WorkTimer/WorkTimer/bin/Debug/WorkTImer.exe
WorkTimer/WorkTimer.v11.suo
WorkTimer/WorkTimer/bin/Debug/WorkTImer.exe.config
WorkTimer/WorkTimer/bin/Debug/WorkTImer.pdb
WorkTimer/WorkTimer/bin/Debug/WorkTimer.vshost.exe
WorkTimer/WorkTimer/bin/Debug/WorkTImer.vshost.exe.config
WorkTimer/WorkTimer/bin/Debug/WorkTimer.vshost.exe.manifest
WorkTimer/WorkTimer/bin/Release/WorkTimer.exe
WorkTimer/WorkTimer/bin/Release/WorkTimer.exe.config
WorkTimer/WorkTimer/bin/Release/WorkTimer.pdb
WorkTimer/WorkTimer/bin/Release/WorkTimer.vshost.exe
WorkTimer/WorkTimer/bin/Release/WorkTimer.vshost.exe.config
WorkTimer/WorkTimer/bin/Release/WorkTimer.vshost.exe.manifest
WorkTimer/WorkTimer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WorkTimer/WorkTimer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WorkTimer/WorkTimer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WorkTimer/WorkTimer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
WorkTimer/WorkTimer/obj/Debug/WorkTImer.AlarmForm.resources
WorkTimer/WorkTimer/obj/Debug/WorkTImer.csproj.FileListAbsolute.txt
WorkTimer/WorkTimer/obj/Debug/WorkTImer.exe
WorkTimer/WorkTimer/obj/Debug/WorkTImer.Properties.Resources.resources
WorkTimer/WorkTimer/obj/Debug/WorkTimer.TimerForm.resources
WorkTimer/WorkTimer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WorkTimer/WorkTimer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WorkTimer/WorkTimer/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
WorkTimer/WorkTimer/obj/Release/WorkTimer.AlarmForm.resources
WorkTimer/WorkTimer/obj/Release/WorkTimer.csproj.FileListAbsolute.txt
WorkTimer/WorkTimer/obj/Release/WorkTimer.exe
WorkTimer/WorkTimer/obj/Release/WorkTimer.pdb
WorkTimer/WorkTimer/obj/Release/WorkTimer.Properties.Resources.resources
WorkTimer/WorkTimer/obj/Release/WorkTimer.TimerForm.resources
WorkTimer/WorkTimer/WorkTimer.csproj.user
